*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
   background-color: #222;
   padding: 15px 50px;
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
nav h2{
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}
nav h2:hover{
    color: #d4af37;
}                                
nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    margin-left: 40px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    transition: 0.3s;
    padding-bottom: 5px;
}
nav ul li a:hover{
    color: #d4af37;
    border-bottom: 2px solid #d4af37;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    min-height: 90vh;
    padding: 0 80px;
    background-color: #111;
    padding-top: 140px;
}
#header h1{
    font-size: 48px;
    margin-bottom: 10px;
}
header h2{
    font-size: 28px;
    color: #666;
    margin-bottom: 20px;
}

#header p{
    max-width: 700px;
    margin: 20px auto;
    line-height: 1.6;
}
section{
    padding: 80px 50px;
}

.hero-text {
   width: 50%;
}
.hero-text h1 {
    font-size: 70px;
    color: #fff;
}
.hero-text h2 {
    font-size: 40px;
    color: #d4af37;
}
.hero-text p {

    font-size: 20px;
    color: #dcdcdc;
    line-height: 1.8;
}
.hero-image {
   width: 50%;
    display: flex;
    justify-content: center;
}
.hero-image img {
    width: 90%;
   max-width: 650px;
    height: auto;
   
}
.btn{
    display: inline-block;
    padding: 15px 35px;
    background-color: #d4af37;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    margin-right: 15px;
    margin-top: 20px;
    transition: 0.3s;
     
}
.btn:hover{
    background-color: #ffffff;
    transform: translateY(-5px);
}
.btn2{
    display:inline-block;
    border: 2px solid #d4af37;
    color: #d4af37;
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}
.btn2:hover{
    background-color: #d4af37;
    color: #fff;
    transform: translateY(-5px);
}
.social-icons {
    margin-top: 35px;
}
.social-icons a {
    color: #d4af37;
    font-size: 32px;
    margin-right: 25px;
    transition: 0.3s;
}
.social-icons a:hover {
    color: #fff;
    transform: translateY(-5px);
}
#portfolio{
    text-align: center;
    background-color: #111;
    color: #fff;
}
.portfolio-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.card{
    background: #222;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    transition: 0.3s;
}
.card img{
    width: 100%;
    border-radius: 10px;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 25px #d4af37;
}
#about{
    background: #1b1b1b;
    color: white;
    padding: 100px 80px;
}

#about h2{
    text-align: center;
    color: #d4af37;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: bold;
}

.about-text{
    max-width: 800px;
    margin: auto;
    text-align: center;
}


.about-text p{
    line-height: 1.8;
    margin-bottom: 20px;
    color: #ddd;
}
#services{
    background: #111;
    padding: 100px 80px;
    text-align: center;
}

#services h2{
    color: #d4af37;
    font-size: 40px;
    margin-bottom: 50px;
}

.services-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.service-card{
    width: 280px;
    background: #1f1f1f;
    padding: 30px;
    border-radius: 15px;
    transition: .3s;
}

.service-card i{
    font-size: 45px;
    color: #d4af37;
    margin-bottom: 20px;
}

.service-card h3{
    color: white;
    margin-bottom: 15px;
}

.service-card p{
    color: #ccc;
    line-height: 1.7;
}

.service-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(212,175,55,.5);
}
#contact{
    background: #1b1b1b;
    text-align: center;
    padding: 100px 80px;
}

#contact h2{
    color: #d4af37;
    font-size: 60px;
    margin-bottom: 20px;
}

#contact p{
    color: #ddd;
    font-size: 20px;
    margin-bottom: 40px;
}
 
#footer{
    background:#0d0d0d;
    text-align:center;
    padding:40px 20px;
}

.footer-line{
    width:120px;
    height:3px;
    background:#d4af37;
    margin:0 auto 25px;
    border-radius:20px;
}

#footer p{
    color:#fff;
    font-size:17px;
    margin-bottom:25px;
    letter-spacing:1px;
}

.footer-icons{
    display:flex;
    justify-content:center;
    gap:30px;
}

.footer-icons a{
    width:55px;
    height:55px;
    border:2px solid #d4af37;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#d4af37;
    font-size:24px;
    text-decoration:none;
    transition:.4s;
}

.footer-icons a:hover{
    background:#d4af37;
    color:#111;
    transform:translateY(-8px);
    box-shadow:0 0 20px rgba(212,175,55,.5);
}
.menu-toggle{
    display:none;
}

@media (max-width:768px){

    nav{
        flex-direction:row;
        justify-content:space-between;
        align-items:center;
        padding:15px 20px;
    }

    .menu-toggle{
        display:block;
        color:#fff;
        font-size:30px;
        cursor:pointer;
    }

    nav ul{
        display:none;
    }

    #header{
        flex-direction:column-reverse;
        justify-content:center;
        text-align:center;
        padding:100px 20px 50px;
        min-height:auto;
    }

    .hero-text,
    .hero-image{
        width:100%;
    }

    .hero-image img{
        width:70%;
        max-width:260px;
        margin-bottom:20px;
    }

    .hero-text h1{
        font-size:42px;
    }

    .hero-text h2{
        font-size:28px;
    }

    .hero-text p{
        font-size:18px;
    }

    .btn,
    .btn2{
        display:block;
        width:100%;
        max-width:250px;
        margin:15px auto;
    }

    #about,
    #services,
    #contact{
        padding:70px 20px;
    }

    .card,
    .service-card{
        width:100%;
        max-width:350px;
        margin:auto;
    }

    .footer-icons{
        gap:15px;
    }
}
